<h1 class="m-4">Who Are We?</h1>

<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
<li>At Supprise, we help donors provide food to who need it across the country.</li>

<li>We are a cloud-native platform that helps in bridging the gap between producers and consumers. We aim to spread the joy of sharing food and draw smiles on people's faces.</li>
</ul>
</div>

<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>The world is suffering from a significant amount of food waste generated throughout the food supply chain, from production to consumption. This is not only a loss of valuable resources and energy invested in its production but also has detrimental environmental and social consequences.</li>
	</ul>
</div>

<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>Technology can assist to optimize food waste, by connecting food producers, with consumers, so certain products (i.e with short validity) can be offered at reduced (or free) prices. This collaboration can lead to a sustainable practice that reduces waste and fulfills the demand.</li>
	</ul>
</div>

		