<h1 class="m-4">Get in Touch with Supprise</h1>

<div class="bg-white m-4 p-4 shadow">
    <ul class="fs-5">
        <li>Have a question or just want to chat? Reach out to our friendly team between 9 AM to 9 PM:</li>
        <ul>
            <li>Supprise Support Helpline: 800 SUPRISE (7877473)</li>
        </ul>
        <li>Experience the magic behind Supprise by visiting our enchanting offices:</li>
        <ul>
            <li>Supprise Headquarters: Whimsy Street, Wonderworld, Happyville</li>
            <li>Branch Office: Laughter Lane, Joyful Tower, Smiles City</li>
        </ul>
        <li>For a burst of joy, email us at <mark>hello@supprise.com</mark></li>
        <li>Follow our delightful journey on social media and stay tuned for surprises:</li>
        <ul>
            <li>Instagram: @SuppriseJoy</li>
            <li>Twitter: @SuppriseMoments</li>
            <li>Facebook: /SuppriseOfficial</li>
        </ul>
        <li>Interested in collaborating or want to join our team? Drop a note at <mark>careers@supprise.com</mark></li>
        <li>For media inquiries or partnership opportunities, contact our PR team at <mark>press@supprise.com</mark></li>
    </ul>
</div>

<!-- Start of Tawk.to Script -->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {};
    Tawk_API.visitor = {
        name: 'John Doe', // Set the user's name dynamically if available
        email: 'john@example.com' // Set the user's email dynamically if available
    };
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/655e92dad600b968d3161e80/1hfsmr9md';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!-- End of Tawk.to Script -->
